:root {
  --primary: rgb(93, 146, 251);
  --secondary: rgb(173, 212, 248);
}

@font-face {
  font-family: Nunito;
  src: url(../font/Nunito-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Nunito;
  src: url(../font/Nunito-SemiBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: Nunito;
  src: url(../font/Nunito-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Nunito;
  src: url(../font/Nunito-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Nunito;
  src: url(../font/Nunito-Light.ttf);
  font-weight: lighter;
}

body {
  margin: 0;
  background: url(../images/bg.png);
  font-family: Nunito;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: white;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: #93b7ff;
}

body .content {
  text-align: center;
  margin: 0px 20px 20px 20px;
}

body .content h4 {
  color: #7c7c7c;
  font-weight: 700;
}

body .content span {
  color: grey;
}

button.convert {
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  width: 100%;
  padding: 6px;
}

.header {
  overflow: hidden;
  background: var(--primary);
  z-index: 1;
  width: 100%;
  padding: 20px 10px;
  margin-bottom: 50px;
  box-shadow: 0 4px 4px -2px rgb(93 146 252 / 35%);
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.bgr {
  width: 80%;
  padding: 50px;
  display: flex;
  justify-content: center;
  background: url(/assets/images/bg-container.webp);
  background-size: cover;
  border-radius: 10px;
}

.container-box {
  user-select: none;
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0px 5px 16px -2px rgb(93 146 252 / 35%);
  width: 60%;
}

.container-box h2 {
  color: var(--primary);
  font-weight: 600;
}

.drag-area {
  height: 215px;
  border: 3px dashed #e0eafc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.drag-area:hover {
  background-color: #5d92fb1a;
}

.img-preview {
  position: relative;
  border: 2px solid #e0eafc;
  padding: 10px;
}

.img-preview i {
  position: absolute;
  display: inline-block;
  right: -10px;
  top: -10px;
  font-size: 20px;
}

.upload-content {
  text-align: center;
}

.upload-content i {
  font-size: 30px;
  color: #7c7c7c;
}

.drag-area .upload-content h5 {
  color: #7c7c7c;
  font-weight: 700;
}

span.supports-file {
  font-weight: 500;
  font-size: 14px;
  color: grey;
}

.browse-file-text {
  counter-reset: var(--primary);
}

.container-box h6 {
  font-weight: 700;
  color: #7c7c7c;
}

.container-box select {
  padding: 10px;
  border: 2px solid #e0eafc;
  color: #7c7c7c;
  font-weight: 500;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%237c7c7c' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

.drag-area .upload-content {
  display: block;
}

.drag-area .img-preview {
  display: none;
}

.drag-area.active .upload-content {
  display: none;
}

.drag-area.active .img-preview {
  display: block;
}

.img-preview img {
  height: 150px;
}

select option:disabled {
  color: grey;
  background: rgba(128, 128, 128, 0.2);
}

#imageCanvas {
  display: none;
}


footer {
  margin-top: auto;
  background: var(--primary);
  color: white;
  padding: 20px;
  text-align: center;
}

footer a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  .container-box {
    width: 90%;
    padding: 50px 20px 50px 20px;
  }

  .header {
    margin-bottom: 20px;
  }

  .bgr {
    width: 100%;
    border-radius: 0;
    padding: 20px 0px;
  }

  .img-preview img {
    height: 100;
  }
}